.filter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    margin: 3rem auto 1rem auto;
    font-size: 20px;
    height: 6rem;
    
    @media only screen and (max-width: 420px) {
       & {
           justify-content: center;
           width: 80%;
           margin-bottom: 5rem;
       }
    }

    @media only screen and (max-width: 640px) {
        & {
            justify-content: center;
            height: 9rem;
        }
     }

    &__radio {
        box-sizing: border-box;
        padding: 0;
        margin: 20px;
        font-size: 25px;

        cursor: pointer;
    }

    input[type="radio"] {
        display: none;
    }

    label {
        border: 2px solid $color-secondary-light;
        border-radius: 20px;
        margin: 5px;
        padding: 5px;
        font-size: 1.2rem;

        padding: 5px;
        color: $color-primary-light;
        cursor: pointer;
    }

    @media only screen and (max-width: 420px) {
        label {
            display: flex;
            margin: 2px;   
        }
    }

    @media only screen and (max-width: 420px) {
        label {
            display: flex;
            margin: 1px;   
        }
    }

    input[type="radio"]:checked + label {
        background-color: $color-secondary-light;
    }
}

@media (max-width: 1023px) {

}